*.i
*.o
*.a
*.elf
*.hex
*.bin
*.dfu
*.map
*.log
#*.net
*.raw
*.swp
.DS_Store
.depend
*.list
*.out
*.pyc
*.jdebug
*.jdebug.user

.vscode/*

tools/pycrc*

sim/sim
sim/plot
stmblx
*.ngc

# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.lck

# kicad bak files
hw/kicad/*.bak
hw/kicad/*/*.bak
hw/kicad/*/*/*.bak
hw/kicad/*/*-bak

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls

*.drd
*.drd.*

*.info

*.eps
obj_*
inc/commandslist.h
inc/comps/*
inc/shared_comps/*
src/hal_tbl.c
src/conf_templates.c
stm32f303/inc/commandslist.h
stm32f303/inc/comps/*
stm32f303/inc/shared_comps/*
stm32f303/src/hal_tbl.c
toolchain-user.mak
hw/kicad/v4.0/stmbl_4.0_cpl_jlc.csv
hw/kicad/v4.0/stmbl_4.0_bom_jlc.csv
hw/kicad/v4.0/stmbl_4.0.xml
hw/kicad/v4.0/stmbl_4.0.csv
hw/kicad/v4.0/fp-info-cache
hw/kicad/v4.0/doc/gerber/*
hw/kicad/v4.0/doc/gerber.zip

hw/kicad/v4.0/_autosave-stmbl_4.0.kicad_pcb
hw/kicad/*/CMSIS/*
hw/kicad/v4.0/doc/Drivers/*
tools/gcc*

